[[source]]
url = "http://pypi.douban.com/simple/"
verify_ssl = false
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
uvicorn = "*"
fastapi = "*"
pandas = "*"
xlrd = "1.0"
requests = "*"
autopep8 = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.8"
