<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
	<title>路线规划</title>
	<style>
		html,
		body,
		#container {
			width: 100%;
			height: 100%;
		}

		#panel {
			position: fixed;
			background-color: white;
			max-height: 30%;
			overflow-y: auto;
			top: 70%;
			/* right: 10%; */
			width: 100%;

		}

		#panel .amap-lib-driving {
			border-radius: 4px;
			overflow: hidden;
		}
	</style>
	<link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
	<link rel="stylesheet" href="static/css/asidenav.css">
	<script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>
	<script type="text/javascript"
		src="https://webapi.amap.com/maps?v=1.4.15&key=ce3b1a3a7e67fc75810ce1ba1f83c01a&plugin=AMap.TruckDriving"></script>
	<script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
</head>

<body>
	<div id="container"></div>
	<div id="panel"></div>
	<script type="text/javascript">
		//基本地图加载
		var map = new AMap.Map("container", {
			resizeEnable: true,
			center: [116.397428, 39.90923], //地图中心点
			zoom: 13 //地图显示的缩放级别
		});

		var drivingOption = {
			// policy: AMap.DrivingPolicy.LEAST_TIME, // 其它policy参数请参考 https://lbs.amap.com/api/javascript-api/reference/route-search#m_DrivingPolicy
			// ferry: 1, // 是否可以使用轮渡
			province: '{{province}}', // 车牌省份的汉字缩写 
			number: '{{number}}',
			map: map,
			panel: 'panel',
			load: '{{load}}',
			size: '{{size}}',
			cartype: '{{cartype}}'
		}
		// 构造路线导航类
		var driving = new AMap.TruckDriving(drivingOption)
		// 根据起终点经纬度规划驾车导航路线
		driving.search([ {lnglat:[116.583727,39.766743]},{% for item in waylist %} { lnglat: [{{ item[0] }}, {{ item[1] }}] }, {% endfor %} {lnglat:[116.583727,39.766743]}], function (status, result) {
			// result 即是对应的驾车导航信息，相关数据结构文档请参考  https://lbs.amap.com/api/javascript-api/reference/route-search#m_DrivingResult
			if (status === 'complete') {
				log.success('绘制驾车路线完成')
			} else {
				log.error('获取驾车数据失败：' + result)
			}
		});
	</script>


    <div class="aside-nav bounceInUp animated" id="aside-nav">
        <label for="" class="aside-menu" title="按住拖动">菜单</label>

        <a href="javascript:void(0)" title="调起高德地图导航" class="menu-item menu-line menu-first amap-call">开始<br>导航</a>
        <a href="javascript:location.reload()" title="重新规划路线" class="menu-item menu-line menu-second">重新<br>规划</a>
        <a href="javascript:void(0)" title="更改导航策略" class="menu-item menu-line menu-third">切换<br>策略</a>
        <a href="javascript:void(0)" title="反馈问题" class="menu-item menu-line menu-fourth">问题<br>反馈</a>
    </div>
  

<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/asidenav.js"></script>
</body>

</html>